
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Create</h2>
  <form th:action="${create}" th:object="${product}" th:method="post">
    <table class="table table-bordered table-sm" >

      <tbody>
      <tr>
        <td><input placeholder="nhập id" name="id" th:field="*{id}"></td>
      </tr>
      <tr>
        <td><input  placeholder="nhập name" name="name" th:field="*{name}"></td>
      </tr>
      <tr>
        <td><input  placeholder="nhập price" name="price" th:field="*{price}"></td>
      </tr>
      <tr>
        <td><input  placeholder="nhập quantity" name="quantity" th:field="*{img}"></td>
      </tr>
      <tr>
        <td><input placeholder="nhập category" name="category"  th:field="*{category}"></td>
      </tr>
      <tr>
        <td>
          <button type="submit" class="btn btn-success">Create</button>
          |<a href="/homeProduct" class="btn btn-secondary">Back</a>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>

</body>
</html>

